<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Contract">
            <directory>tests/Contract</directory>
            <exclude>tests/Contract/EventStore/EventStoreContractTest.php</exclude>
            <exclude>tests/Contract/DocumentStorage/DocumentStorageContractTest.php</exclude>
            <exclude>tests/Contract/Ocr/OcrPortContractTest.php</exclude>
        </testsuite>
        <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="KERNEL_CLASS" value="App\Kernel" force="true"/>
        <env name="DEFAULT_URI" value="http://localhost" force="true"/>
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>
</phpunit>
